{%extends "django_registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
    <h1>Welcome!</h1>
    <div class="thanks">
        <h4>
            <strong>
            <em>
                Thank You for signing up to Insta!
                <br>
                <br>
                Please <a href="/accounts/login">Login</a> to post your photos and see other posted photos.
            </em>
            </strong>
        </h4>
        <br>
        <a href="/accounts/login"><button class="btn btn-success join">Login</button></a>
    </div>
    
</div>
{% endblock %}