.insta {
    font-family: Lobster;
}
.panel-footer {
    background-color: white;
}
.user {
    background-color: white;
}
h1 {
    color: darkgoldenrod;
}
.name {
    font-family: Lobster;
}
.edit {
    text-align: center;
}
.profile {
    background-color: rgba(245, 245, 245, 0.479);
}
.timeline{
    background-color: rgba(245, 245, 245, 0.479);
}
.avatar {
    border-radius: 50%;
}
.comment {
    margin-top: 10%;
}
.post {
    margin-top: 8%;
}