.insta {
    font-family: Courgette;
    font-size: xx-large;
}
.panel-footer {
    background-color: white;
}
.user {
    background-color: white;
}
h1 {
    color: darkgoldenrod;
}
.name {
    font-family: Lobster;
}
.edit {
    text-align: center;
}
.profile {
    background-color: rgba(245, 245, 245, 0.479);
}
.avatar {
    border-radius: 50%;
}
.comment {
    margin-top: 30%;
}
.post {
    margin-top: 8%;
}
.header {
    padding-right: 15%;
    padding-left: 15%;
}
.reactions {
    display: flex;
}
#profile {
    height: 200px;
    width: 200px;
}