{%extends "instagram/base.html"%}
{% load static %}

{% block content %}
{{block.super}}
<div class="container-fluid timeline">
    {% for photo in photos %}
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading user">
                    {{photo.profile}}
                </div>
                <a href="{% url 'image' photo.id %}"><img src="{{photo.image.url}}" class="img-responsive" alt="Image"></a>
                <div class="panel-footer">
                    <form action="{% url 'like' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="image_id" value="{{ photo.id }}"> 
                        {% if user not in photo.likes.all %}
                        <button type="submit"><i class="far fa-heart" style="font-size:40px;color: red;"></i></button> 
                        {% else %}
                        <button type="submit"><i class="far fa-heart" style="font-size:40px;color: black;"></i></button> 
                        {% endif %}
                    </form>
                    {% if photo.likes.all.count == 1 %}
                    <p><strong>{{photo.likes.all.count}} like</strong></p>
                    {% else %}
                    <p><strong>{{ photo.likes.all.count }} likes</strong></p> 
                    {% endif %}
                    <p class="name">{{photo.name}}</p>
                    {% autoescape on %}<p>{{photo.caption| safe}}</p>{% endautoescape %}
                    <p>{{photo.date|date}}</p>
                    <a href="{% url 'comment' %}">view all comments</a>
                    <br>
                    <a href="{% url 'write-comment' %}">Write a comment</a>
                </div>
            </div>
        </div>

    {% empty %}
    <div class="row">
      <h2 class="text-center">There are No images yet</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}