{%extends "instagram/base.html"%}
{% block content %}
{{block.super}}
<div class="container-fluid">
    {% for image in images %}
    <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading user">
                {{image.profile}}
            </div>
            <a href="{% url 'image' image.id %}"><img src="{{image.image.url}}" class="img-responsive" alt="Image"></a>
            <div class="panel-footer">
                <p class="name">{{image.name}}</p>
                {% autoescape on %}<p>{{image.caption| safe}}</p>{% endautoescape %}
                <p>{{image.date|date}}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">There are No images yet</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}