{%extends "instagram/base.html"%}
{% block content %}
{{block.super}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            {% if profile.profile_photo %}
            <img src="{{profile.profile_photo.url}}" class="img-thumbnail" alt="profile_photo">
            {%else%}
            <img src="https://avatars.githubusercontent.com/u/95276296?v=4" width="200px"  alt="profile photo">
            {% endif %}
            <br>
            <br>
            <p><strong>{{user}}</strong></p>
            <br>
            {% if profile.Bio %}
            <p>{{profile.Bio}}</p>
            {%else%}
            <p>No Bio</p>
            {% endif %}
        </div>
    </div>
    <br>
    <hr>

    {% for image in images %}
    <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading user">
                {{image.profile}}
            </div>
            <a href="{% url 'image' image.id %}"><img src="{{image.image.url}}" class="img-responsive" alt="Image"></a>
            <div class="panel-footer">
                <p class="name">{{image.name}}</p>
                {% autoescape on %}<p>{{image.caption| safe}}</p>{% endautoescape %}
                <p>{{image.date|date}}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">No Posts Yet</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}