{%extends "instagram/base.html"%}
{% load static %}
{% block content %}
{{block.super}}
<div class="container-fluid profile">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            {% if not profile.profile_photo.url %}
            <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541" width="250px"  alt="profile photo">
            {%else%}
            <img class="avatar" src="{{profile.profile_photo.url}}" alt="profile_photo">
            {% endif %}
        </div>
        <div class="col-md-3 col-sm-4">
            <br>
            <br>
            <h3><strong><em>{{user}}</em></strong></h3>
        </div>
        <div class="col-md-1 col-sm-4">
            <br>
            <br>
            {%if images%}
            <p class="text-center"><strong>{{images|length}}</strong></p>
            <p class="text-center">posts</p>
            {% else %}
            <p class="text-center"><strong>0</strong></p>
            <p class="text-center">posts</p>
            {% endif %}
        </div>
        
       
    </div>
        
    <div class="row">
        <div class="col-md-4 col-sm-4">
            {% if profile.Bio %}
            <p>{{profile.Bio}}</p>
            {%else%}
            <p></p>
            {% endif %}
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body edit">
                    <a href="{%url 'update-profile'%}" style="color: black;">Edit Profile</a>
                </div>
            </div>
            <br>
        </div>
    </div>
    <hr>
    {% for image in images %}
    <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading user">
                {% if not image.profile.profile_photo.url %}
                    <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541" height="40px" alt="profile photo">
                    {%else%}
                    <img class="avatar" src="{{image.profile.profile_photo.url}}" height="40px" alt="profile_photo">
                    {% endif %}
                    {{image.profile}}
            </div>
            <a href="{% url 'image' image.id %}"><img src="{{image.image.url}}" class="img-responsive" alt="Image"></a>
            <div class="panel-footer">
                <div class="reactions">
                    <form action="{% url 'like' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="image_id" value="{{ image.id }}"> 
                        {% if user not in image.likes.all %}
                        <button type="submit"><i class="far fa-heart" style="font-size:25px;color: black;"></i></button> 
                        {% else %}
                        <button type="submit"><i class="far fa-heart" style="font-size:25px;color: red;"></i></button> 
                        {% endif %}
                    </form>
                    <a href="{% url 'write-comment' image.id%}"><i class="fa fa-comment" style="font-size:30px;" aria-hidden="true"></i></a>
                </div>
                <p><strong>{{image.likes.all.count}} likes</strong></p>
                <p class="name">{{image.name}}</p>
                {% autoescape on %}<p>{{image.caption| safe}}</p>{% endautoescape %}
                <a href="{% url 'comment' image.id%}">view all comments</a>
                <p>{{image.date|date}}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">No Posts Yet</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}